data/
results/0808/
*.tar.gz
*.npz
cfrnet/data-ihdp/
cfrnet/data-jobs
cfrnet/results-ihdp/
cfrnet/results-jobs/
cfrnet/configs-ihdp/
cfrnet/configs-jobs/
cfrnet/*.sh
cfrnet/*.txt
cfrnet_yA/*.sh
cfrnet_yA/configs/*.txt
cfrnet_yA/configs/eval_tanh/
eicu/
notebooks/
others/
results/
*.ipynb
*.sh
